
.popup_title-on {
  div {
    display: inline-block;
  }
  input {
    border: none;
    border-bottom: cadetblue solid 1px;
  }
}

.pop__title {
  font-family: '幼圆', serif;
  font-size: large;
  box-shadow: cadetblue;
}